.container {
  display: flex;
  gap: 72px;
  width: 1440px;
  margin: 0 auto;
  padding: 84px 120px 104px;
}

.imgFormWraper {
  width: 640px;
}

.carBrand {
  border-radius: 19px;
  width: 640px;
  height: 512px;
  background: url("path_to_image");
  margin-bottom: 40px;
}

.formConnected {
  flex-wrap: wrap;
  border: 1px solid var(--gray-light);
  border-radius: 10px;
  width: 640px;
  height: 488px;
  padding: 32px;
  background: var(--white);
}

.carTitle {
  font-weight: 600;
  font-size: 20px;
  line-height: 120%;
  color: var(--main);
  padding-bottom: 8px;
}

.subTitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  color: var(--gray);
  padding-bottom: 24px;
}

.fieldInput {
  border-radius: 12px;
  border: none;
  padding: 14px 20px;
  width: 576px;
  height: 48px;
  background: var(--inputs);
  margin-bottom: 16px;
}

.fieldComment {
  border-radius: 12px;
  border: none;
  padding: 12px 20px 56px 20px;
  width: 576px;
  height: 88px;
  background: var(--inputs);
  margin-bottom: 24px;
}

.btnInputForm {
  display: flex;
  border-radius: 12px;
  border: none;
  font-weight: 600;
  font-size: 16px;
  line-height: 125%;
  color: var(--white);
  width: 156px;
  height: 44px;
  align-items: center;
  justify-content: center;
  background: var(--button);
  margin: 0 auto;
  margin-bottom: 32px;
  cursor: pointer;
}
.btnInputForm:hover {
  background: var(--button-hover);
}

.descrWraper {
  width: 488px;
}

.containerBlocWrap {
  margin-top: 60px;
}
.contentBlocWrap {
  margin-top: 100px;
}
.rentalConditionsList {
  margin-bottom: 16px;
}

.carSpecificationsList {
  margin-top: 100px;
}
.carSpecificationsList li {
  margin-bottom: 16px;
}

.accessoriesFuncionalList {
  margin-bottom: 16px;
}

.carInfoDetails {
  font-weight: 600;
  font-size: 20px;
  line-height: 120%;
  color: var(--main);
  margin-bottom: 20px;
}

svg {
  width: 16px;
  height: 16px;
  stroke: var(--main);
}

.mainTitle {
  font-weight: 600;
  font-size: 24px;
  line-height: 133%;
  color: var(--main);
  margin-bottom: 8px;
}

.idTitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  color: var(--gray);
  padding-left: 16px;
}

.carInfo {
  margin-bottom: 16px;
}

.infoContent {
  margin-bottom: 16px;
}

.addressLocation {
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  color: var(--main);
  margin-bottom: 16px;
}

.rentalPrice {
  font-weight: 600;
  font-size: 24px;
  line-height: 133%;
  color: var(--button);
  margin-bottom: 32px;
}

.carDescr {
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  color: var(--main);
}
