.navContainer {
  display: flex;
  background-color: var(--badges);
  margin-bottom: 4px;
}

.menuContainer {
  display: flex;
  padding: 24px 120px;
  gap: 32px;
}

.menuHeader {
  display: flex;
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  color: var(--main);
}
.menuHeader:hover {
  color: var(--button-hover);
}
