.heder {
  display: flex;

  background: var(--badges);
  width: 1440px;
  height: 68px;
}

.logo {
  padding: 26px 120px;
}

.nav {
  display: flex;
  flex-direction: row;
  padding: 24px 120px;
}

.menu {
  display: flex;
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  color: var(--main);
  padding: 24px 120px;
  justify-content: space-between;
}

.menu:hover {
  color: var(--button-hover);
}
